<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock meta %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    

    {% block loading %}
    {% endblock loading %}

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block content %}
    {% endblock content %}

    <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>